body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FA;
    color: #333;
}

header {
    background-color: #150283;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.school-name {
    color: black; /* Черный цвет */
    font-size: 1.5em; /* Размер шрифта */
    margin-bottom: 20px; /* Отступ снизу */
}

.welcome-text {
    color: #7B1FA2; /* Фиолетовый цвет */
    font-size: 1.2em; /* Размер шрифта */
    margin-bottom: 20px; /* Отступ снизу */
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #7B1FA2;
}


.hero-content {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero h2 {
    margin: 0;
    font-size: 2em;
}

.hero p {
    font-size: 1.2em;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #7B1FA2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #4A148C;
}

section {
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #0288D1;
}

.teacher-list, .achievement-list, .student-achievement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teacher, .achievement, .student-achievement {
    background-color: #E0F7FA;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

.teacher img, .achievement img, .student-achievement img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #0288D1;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .hero {
        padding: 60px 20px;
    }

    .hero h2 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 1em;
    }

    section {
        padding: 20px 10px;
    }

    section h2 {
        font-size: 1.5em;
    }

    .teacher, .achievement, .student-achievement {
        width: 100%;
        max-width: 100%;
    }
}
